<table class="table">
  <tr>
    <%= image_tag user.get_profile_image %>
    <th>タイトル</th>
    <th>コメント</th>
  </tr>
  <tr>
    <td>

        <%= link_to user_path(user) do %>

        <% end %>
      </td>
  </tr>

  <% @points.each do |point| %>
    <tr>
      <td> <%= image_tag user.get_profile_image %>
        <%= link_to point.title, point_path(point.id) %></td>
      <td><%= point.body %></td>
  <% end %>
</table>