<% if @point.errors.any? %>
  <%= @point.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @point.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div>
  <%= flash[:notice] %>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
      <%= render 'points', point: @point, user: current_user %>
    </div>
    <div class = "col-md-8 offset-md-1">
      <h1>points</h1>
      <table class="table">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
        <% @points.each do |point| %>
        <tr>
          <td>
          <%= link_to user_path(point.user) do %>
          <%= image_tag current_user.get_profile_image %>
          <% end %>

          <td><%= link_to point.title, point_path(point.id) %></td>
          <td><%= point.body %></td>
        </tr>


          <% end %>
      </table>
    </div>














