<div class = "row">
    <div class = "col-md-3">
      <%= render 'users/user_info', user: @user %>
      <h2>New Point</h2>
      <%= render 'points/form', point: @newpoint %>
    </div>
    <div class = "col-md-8 offset-md-1">
      <h2>point detail</h2>
      <table class="table">
    <tr>
    <th>
      <%= link_to user_path(@point.user) do %>
      <%= image_tag current_user.get_profile_image %>
      <br><%= @user.name %>
      <% end %>




    </th>

      <th><%= @point.title %></th>
      <th><%= @point.body %></span></th>
      <!--<div class = "container">-->
          <% if @point.user == current_user %>
      <th><%= link_to "Edit", edit_point_path(@point.id), class: "btn btn-success btn-sm-block" %></th>
      <th><%= link_to "Destroy", point_path(@point), method: :delete, class: "btn btn-danger btn-sm-block" %></th>
      
      <% end %>
    </tr>
    </table>
    <!--</div>-->
  </div>
</div>
