<h1>グループ名：<%= @group.name %></h1>
<h2>作成者：<%= @group.owner.name %></h2>

<p><strong>目的:</strong> <%= @group.description %></p>
<%= render "groups/join_button", group: @group if user_signed_in? %>
<%= link_to '一覧に戻る', groups_index_path %>

<h2>加入者</h2>
<table class="table">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "詳細", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

