<h1>show</h1>
<%= image_tag @user.get_profile_image %>
<%= link_to '退会させる', admin_user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
<table class="table">
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>コメント</th>
    <td><%= @user.introduction %></td>
  </tr>
</table>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td>
          <%= image_tag @user.get_profile_image %>
          <%= point.title %>
        </td>
        <td><%= point.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
